<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Principal.css">
    <title>Control de Estudiantes</title>
</head>
<body>
    <header class="header">
        <h1>CONTROL DE ESTUDIANTES</h1>
    </header>
    <nav class="navbar" id="navbar">
        <a href="ListarEstudiantes.html" target="iframe">Listar Estudiantes</a>
        <a href="AgregarEstudiantes.html" target="iframe">Agregar Estudiantes</a>
    </nav>
    <section class="content">
        <iframe id="iframe" src="" frameborder="0" name="iframe"></iframe>
    </section>
    <script src="../JS/Principal.js"></script>
</body>
</html>
